body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', 'Sans-serif', 'Arial';
}
  
.top {
    background: #09473b;
    padding:0.2rem 1rem;
    z-index: 100;
    position:fixed;
    left: 0px;
    right:0px;
    top:0px;

}


.middle {
    position:fixed;
    top: 70px;
    right: 381px;
    overflow-y: auto;
    bottom: 115px;
}


.right {
    position:fixed;
    top: 70px;
    padding-top: 50px;
    width: 380px;
    border-left:1px solid #ccc;
    background: white;
    bottom:0px;
    right: 0px;
    z-index: 50;
}

.bottom {
    position:fixed;
    border-top:1px solid #ccc;
    bottom:0px;
    right: 0px;
    left :0px;
    z-index: 50;
    padding: 3rem;
    background: white;
}


.title {
    color: white;
}

.content {
    margin: 1rem;
}

.media {
    float: right;
}

.grid {
    display: flex;
}




.home-link {
    padding: 1rem;
    border-bottom:1px solid #ccc;
    text-decoration: none;
    color: black;
    display:block;
}

.home-link:hover {
    background: #f7f7f7;
}

.generations {

}

.generations__header {
    padding: 1rem;
}

.generations__body {
}

.generation {
    border-bottom:1px solid #eee;
}

.generation__header {
    padding: 1rem;
    background: #f7f7f7;
    border-top:1px solid #eee;
    font-size:1rem;
    font-style:italic;
    border-bottom:1px solid #eee;
}

.generation__body {
    padding: 1rem;
}